venv/
.env
.tor/
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

app/static/images/
app/static/invoices/
app/static/bitcoin.pdf

*.DS_Store
.vscode
todo.txt